.postAuth {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.postAuth h1 {
    font-size: 1.2rem;
}
.postAuth p {
    font-size: 0.9rem;
    color: var(--white-50);
}
.postAuth a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 1px solid var(--white-10);
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--item-bg);
}
.postAuth .finishButton {
    background-color: var(--accent);
    color: var(--text-on-accent);
    margin-top: auto;
}
