
.lists {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 10px;
}
.header {
    height: var(--page-header-height);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.header button,
.header a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.header button svg,
.header a svg {
    width: 70%;
    height: 70%;
    color: var(--text-color);
}
.header button svg {
    width: 50%;
    height: 50%;
}
.filters {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.filters button {
    height: 100%;
    padding: 0 10px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
}
.filters button.selectedFilter {
    background-color: var(--accent);
    color: var(--text-on-accent);
}
.listsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.newListButton {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(var(--navigation-height) + 20px);
    right: 10px;
}
.newListButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-on-accent);
}

.list {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #111111;
    border-radius: 10px;
    border: 1px solid var(--white-10);
}
.listInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--text-color);
    text-decoration: none;
}
.listInfo a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.listProgress {
    width: 100%;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
}
.listProgress p {
    font-size: 0.75rem;
    color: var(--white-50);
}
.progressBarBackground {
    height: 8px;
    width: 100%;
    border-radius: 25px;
    background-color: var(--bg-primary);
}
.listTop {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 20px;
    align-items: center;
    gap: 10px;
}
.listTop .iconContainer {
    background-color: #27272a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.listTop .listInfo {
    display: flex;
    flex-direction: column;
}
.listTop .listInfo p {
    font-size: 0.75rem;
    color: var(--white-50);
}

.listTop h3 {
    font-size: 1rem;
}
.progressBar {
    height: 8px;
    border-radius: 20px;
}
.listItems {
    font-size: 0.75rem;
}
.deleteButtons {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.deleteButtons button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--text-color);
}
.deleteButtons svg {
    height: 1rem;
}
.deleteButtons button:first-child {
    color: red;
}