
.lists {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.newListButton {
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
}
.newListButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-on-accent);
}
.list {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--item-bg);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
}
.deletedLists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
    overflow: hidden;
    color: var(--text-color);
}
.deletedLists.expand {
    height: auto;
}
.deletedHeader {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 100%;
    color: var(--text-color);
}
.deletedLists.expand .deletedHeader svg {
    transform: rotateZ(-90deg);
    transition: all 0.1s
}
.deletedHeader svg {
    height: 20px;
    width: 20px;
    transition: all 0.1s
}
.deletedLists .list {
    display: grid;
    grid-template-columns: 1fr auto 40px;
    gap: 10px;
}
.list button {
    height: 100%;
    width: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list button svg {
    height: 70%;
    width: 70%;
    color: var(--text-color);
}