.export,
.import {
    width: 100dvw;
    height: calc(100dvh - var(--navigation-height));
    display: grid;
    grid-template-rows: var(--page-header-height) auto 1fr 50px;
    gap: 10px;
    padding: 10px;
    color: var(--text-color);
}
.import {
    grid-template-rows: var(--page-header-height) auto auto 1fr 50px;
}
.importMeta {
    width: 100%;
    height: fit-content;
    background-color: var(--item-bg);
    border-radius: 10px;
    border: 1px solid var(--white-10);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 10px;
}
.warning {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: orange;
}
.warning .warningHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
}
.warning .warningHeader h2 {
    font-size: 1rem;
}
.warning .warningHeader button {
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
}
.import .fileInput {
    width: 100%;
    height: 40px;
    border: 1px solid var(--white-10);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--item-bg);
    color: var(--accent)
}
.confirmButton {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    font-size: 1.1rem;
    font-weight: 600;
}
.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.exportButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    background-color: var(--item-bg);
    border-radius: 10px;
}
.category {
    width: 100%;
    height: fit-content;
    background-color: var(--item-bg);
    border-radius: 10px;
    border: 1px solid var(--white-10);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categoryTop {
    display: grid;
    grid-template-columns: 40px 1fr 30px 30px;
    gap: 10px;
    align-items: center;
}
.categoryTop .iconContainer {
    background-color: var(--modal-bg);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.categoryTop .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.categoryTop h2 {
    font-size: 1rem;
}
.categoryTop p {
    font-size: 0.8rem;
    color: var(--white-25);
}
.checkbox {
    width: 32px;
    height: 32px;
    border: 1px solid var(--white-25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.checkbox.checked {
    background-color: var(--accent) !important;
    color: var(--text-on-accent);
}
.categoryTop button {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.category .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.category .list,
.category .tag {
    width: 100%;
    padding: 15px 10px;
    background-color: var(--modal-bg);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto 30px;
    gap: 10px;
    align-items: center;
}
.category .list button,
.category .tag button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--white-25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category .tag {
    grid-template-columns: 1fr 30px;
}
.conflictMessage {
    font-size: 0.75rem;
    color: orange;
}

