.newShoppingList {
  bottom: var(--bottom-offset);
  width: calc(100dvw - 20px);
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--item-bg);
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  animation: slideFromBottom 0.2s;
  color: var(--text-color);
  margin-top: auto;
  border: 1px solid var(--white-10);
}
.newShoppingList h3{
  font-size: 1rem;
  color: var(--white-50);
  height: 40px;
  align-items: center;
  display: flex;
}
.componentContainer {
  width: 100dvw;
  height: calc(100dvh - var(--navigation-height));
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.pin {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.pinText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pinText p:last-child{
  color: var(--white-25);
  font-size: 0.75rem;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset input {
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}
.threeCols fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
 fieldset .iconButton,
 fieldset .colorButton {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.colorButton .color {
  width: 100%;
  height: 100%;
}
.threeCols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.bottomButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 40px;
}
.bottomButtons button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.saveButton {
  color: var(--text-on-accent);
  background-color: var(--accent);
  border: 1px solid var(--white-10);
}
.newShoppingList input {
  background-color: var(--modal-bg);
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
}