.newShoppingList {
  bottom: var(--bottom-offset);
  width: calc(100dvw - 20px);
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--item-bg);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  animation: slideFromBottom 0.5s;
  color: var(--text-color);
  margin-top: auto;
}
.componentContainer {
  width: 100dvw;
  height: calc(100dvh - var(--navigation-height));
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    bottom: -120%;
  }
  70% {
    opacity: 1;
    bottom: calc(var(--bottom-offset) + 20px);
  }
  100% {
    opacity: 1;
    bottom: var(--bottom-offset);
  }
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset input {
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}
.twoCols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.twoCols button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.saveButton {
  color: var(--text-on-accent);
  background-color: var(--accent);
  border: 1px solid transparent;
}
