.tagSelector {
    width: calc(100dvw - 20px);
    height: calc(100dvh - var(--navigation-height) - 20px);
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--modal-bg);
    display: grid;
    grid-template-rows: 40px 1fr auto;
    border-radius: 10px;
    border: 1px solid var(--white-10);
    gap: 10px;
    z-index: 50;
    color: var(--text-color);
    padding: 15px;
    animation: popModal 0.1s;
}

@keyframes popModal {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.tagSelector .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tagSelector .header h1 {
    font-size: 1.1rem;
}
.tagSelector .header button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.tagSelector .tagsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.tagsContainer .newTag {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tagSelector .newTag .toggle {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
}
.tagSelector .newTag .inputs {
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
    align-items: center;
}
.tagSelector .newTag .inputs input {
    height: 50px;
    background-color: var(--input-bg);
    border-radius: 10px;
    padding-left: 10px;
    color: var(--text-color);
    border: 1px solid var(--white-10);
}
.tagSelector .newTag .inputs button {
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}

.tagSelector .tag {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
    background-color: var(--item-bg);
    padding: 10px;
    border-radius: 5px;
}
.tagSelector .tag button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.tagSelector .tag h2 {
    font-size: 1rem;
}
