.newItem {
    padding: 10px;
    width: 100dvw;
    left: 0;
    background-color: var(--modal-bg);
    position: fixed;
    bottom: var(--navigation-height);
    display: flex;
    flex-direction: column;
    transform-origin: bottom;
    flex-shrink: 0;
    z-index: 50;
    border-top: 1px solid rgba(102, 102, 102, 0.5);
    transition: all 0.1s;
}
.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
}
.header h1 {
    font-size: 1.1rem;
}
.header button {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.assignButton {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 5px;
    color: var(--text-color);
}
.manageTagsButton, 
.bigNewItemButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: 1px solid var(--white-10);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 5px;
}
.claimButtons {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 50px;
}
.claimButtons button {
    flex: 1;
    width: auto;
    border-radius: 10px;
    border: 1px solid var(--white-10);
}
.moreInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
input,
select,
option,
.name input,
.description input{
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.1s;
}
.moreInputs.show {
    height: auto;
    animation: expandMoreInputs 0.2s;
}
.secondRow label {
    width: 100%;
}
.secondRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    overflow: hidden;
    gap: 10px;
    box-sizing: border-box;    
}
.secondRow .rowSection label
.secondRow .rowSection input {
    width: 100%;
    min-width: 0 !important;
}
.secondRow .rowSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    min-width: 0 !important;
}

.showMoreButton {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.name,
.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.deadline {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    align-items: center;
}
.deadline label {
    width: 100%;
    text-align: start;
}
.deadline fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 0;
}
.deadline input {
    width: 100%;
    height: 50px;
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    border-radius: 10px;
    transition: all 0.1s;
}
.manageTagsButton,
.saveButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: 1px solid var(--white-10);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 5px;
}
.manageTagsButton {
    background-color: transparent;
    border-color: var(--accent);
    color: var(--text-color);
}