.stepComponent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message {
    background-color: var(--item-bg);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--white-10);
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.apiStatus {
    height: 50px;
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.statusCircle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
.githubButton,
.nextButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-10);
    color: white;
    gap: 10px;
}
.nextButton {
    background-color: var(--accent);
    color: var(--text-on-accent);
}