.menu {
    width: 100vw;
    position: fixed;
    bottom: 75px;
    left: 0;
    background-color: var(--item-bg);
    border: 1px solid rgba(211, 211, 211, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: showMenu 0.5s;
    color: var(--text-color);
}
@keyframes showMenu {
    0% {
        opacity: 0;
        bottom: -120%;
    }
    70% {
        opacity: 1;
        bottom: 95px;
    }
    100% {
        opacity: 1;
        bottom: 75px;
    }
}
.menu a svg {
    height: 20px;
    width: 20px;
}

.menu .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--bg-primary);
    padding: 0 10px;
}
.menu .section a {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
}
#closeButton {
    width: 100%;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}