.menuBg {
    position: fixed;
    width: 100dvw;
    height: calc(100dvh - var(--navigation-height));
    left: 0;
    top: 0;
    z-index: 600;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(25px);
}
.menu {
    width: 100%;
    background-color: var(--item-bg);
    border: 1px solid rgba(211, 211, 211, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: showMenu 0.2s;
    color: var(--text-color);
    z-index: 601;
    margin-top: auto;
}
@keyframes showMenu {
    0% {
        opacity: 0;
        transform: translateY(calc(100% + 100px));
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.menu a svg {
    height: 20px;
    width: 20px;
}

.menu .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--bg-primary);
    padding: 0 10px;
    border: 1px solid var(--white-10);
}
.menu .section a {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
}
#closeButton {
    width: 100%;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.authButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-primary);
    color: var(--text-color);
    border-radius: 10px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.authButton .buttonContent {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
}
.authButton button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: end;
}
.authButton fieldset {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}