.dashboard {
    height: calc(100dvh - var(--navigation-height));
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    display: grid;
    grid-template-rows: var(--page-header-height) 1fr;
    gap: 10xp;
}
.dashboard .header {
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
    height: var(--page-header-height);
}
.dashboard .header .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
}
.dashboard svg {
    color: var(--text-color);
}
.dashboard .info p {
    color: var(--white-25);
}
.dashboardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

/* Due Items */

.dueItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dueItem {
    width: 100%;
    padding: 10px;
    background-color: var(--item-bg);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--white-10);
}
.dueItem .dueItemInfo {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    text-decoration: none;
    gap: 5px;
}
.dueItem .dueItemInfo p {
    color: var(--white-50);
    font-size: 0.75rem;
    text-decoration: none;
}
.dueItem .dueDate {
    font-size: 0.80rem;
    font-weight: bold;
}


/* Recent Notifications */
.recentNotifications {
    display: flex;
    flex-direction: column;
    background-color: var(--item-bg);
    border-radius: 10px;
}
.notification {
    width: 100%;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--white-10);
}
.notification:last-child {
    border-bottom: none;
}
.notification .timestamp {
    color: var(--white-25);
    font-size: 0.7rem;
}
.notification .color {
    background-color: var(--accent);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.notification .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.notification .message {
    font-size: 0.85rem;
    color: var(--white-50);
}



/* Pinned Lists */

.pinnedLists {
    width: 100%;
    display: flex;
    gap: 10px;
}

.list {
    flex: 1;
    padding: 10px;
    background-color: var(--item-bg);
    border: 1px solid var(--white-10);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
    align-items: center;
}
.list .listInfo {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.pinnedLists .list .iconContainer {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pinnedLists .list svg {
    color: var(--text-on-accent);
}
