.categories {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--modal-bg);
    padding: 5px;
}
.categories button {
    height: 100%;
    padding: 5px 10px;
    flex-grow: 1;
    border: none;
    color: var(--text-color);
    background-color: transparent;
}
.categories button.selectedCategory {
    border-bottom: 1px solid var(--accent);
}