.categories {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.categories button {
    height: 100%;
    padding: 0 10px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
}
.categories button.selectedCategory {
    background-color: var(--accent);
    color: var(--text-on-accent);
}