.item {
    width: 100%;
    height: auto;
    background-color: var(--item-bg);
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 0;
    transition: all 0.1s;
}
.item.expandedItem {
    grid-template-rows: 50px auto;
    transition: all 0.1s;
}
.item .mainSection {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 30px 1fr auto;
    align-items: center;
    gap: 10px;
}
.item .checkbox {
    height: 25px;
    width: 25px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
    padding-bottom: 10%;
}
.item .checkbox svg {
    height: 200%;
    width: 200%;
    animation: popCheckmark 0.2s;
}
@keyframes popCheckmark {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    70%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.mainInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.itemMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.1s;
}
svg {
    height: 20px;
    width: 20px;
}
.threeCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40px;
    align-items: center;
}
.threeCol .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.tags .tag {
    background-color: var(--bg-primary);
    padding: 5px 10px;
    border-radius: 5px;
}
.deadline {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 5px;
}
.createdAt {
    color: var(--white-25);
}
