.header {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}
.header button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header button svg {
    height: 20px;
    width: 20px;
    color: var(--text-color);
}
.welcome {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(25px);
}
.welcome .content {
    background-color: var(--item-bg);
    width: calc(100dvw - 20px);
    position: absolute;
    left: 10px;
    bottom: 50dvh;
    height: fit-content;
    padding: 10px;
    color: var(--text-color);
    z-index: 20;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    gap: 10px;
}
.content input {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-left: 10px;
}
.content .buttons {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.saveButton {
    height: 40px;
    flex: 1;
    background-color: var(--accent);
    border-radius: 5px;
    border: 1px solid transparent;
}