.newItem {
    width: 100%;
    background-color: var(--input-bg);
    display: flex;
    flex-direction: column;
    flex-shrink: 0 !important;
    border-top: 1px solid var(--white-10);
    transition: all 0.1s;
}
.newItem .header {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}
.newItem h2 {
    font-size: 1rem;
}
.newItem .header button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.expandButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandButton svg {
    transition: all 0.1s;
    color: var(--text-color);
}
.iconButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basicInputs {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.expanded .basicInputs {
    grid-template-columns: 1fr auto;
    padding: 0 20px;
    height: auto;
    margin-bottom: 10px;
}
.basicInputs fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.expanded .basicInputs input {
    border: 1px solid var(--white-10);
    border-radius: 10px;
}
.basicInputs .qty {
    display: grid;
    grid-template-columns: 60px 60px;
    gap: 10px;
    align-items: center;
}
.basicInputs input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 10px;
    flex-shrink: 0;
    color: white;
}
.basicInputs .addButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}
.descriptionInput {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid transparent;
    padding-left: 10px;
}
.moreInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 0 20px;
}
.moreInputs input,
.moreInputs select,
.moreInputs option{
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.1s;
}
.deadline {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    gap: 10px;
    align-items: center;
}
.deadline label {
    width: 100%;
    text-align: start;
}
.deadline fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 0;
    overflow: hidden;
}
.deadline input {
    width: 100%;
    height: 50px;
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    border-radius: 10px;
    transition: all 0.1s;
    min-width: 0;
}

.bottomButtons {
    display: grid;
    grid-template-columns: 50px 50px 50px 1fr;
    gap: 10px;
    align-items: center;
    height: 70px;
    padding: 10px 0;
}
.manageTagsButton,
.claimButton,
.priorityButton {
    width: 100%;
    height: 100%;
    border: 1px solid var(--white-19);
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.manageTagsButton p,
.claimButton p,
.priorityButton p {
    font-size: 0.7rem;
}
.saveItemButton {
    height: 40px;
    width: fit-content;
    padding: 0 15px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 5px;
    margin-left: auto;
}