.newItem {
    padding: 20px 10px;
    width: 100dvw;
    left: 0;
    background-color: var(--modal-bg);
    position: fixed;
    bottom: var(--navigation-height);
    display: flex;
    flex-direction: column;
    transform-origin: bottom;
    flex-shrink: 0;
    z-index: 10;
    border-top: 1px solid rgba(102, 102, 102, 0.5);
    transition: all 0.1s;
}
.expandButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandButton svg {
    transform: rotateZ(-90deg);
    transition: all 0.1s;
    color: var(--text-color);
}
.iconButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconButton svg {
    height: 80%;
    width: 80%;
    color: var(--text-color);
}
.claimButtons {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
}
.claimButtons button {
    flex: 1;
    width: auto;
}
.basicInputs {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 20px;
    background-color: var(--input-bg);
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
}

.basicInputs input {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 10px;
    flex-shrink: 0;
    color: white;
}
.basicInputs .addButton {
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 10px;
    border: transparent;
}
.descriptionInput {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid transparent;
    padding-left: 10px;
}
.moreInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.moreInputs input,
.moreInputs select,
.moreInputs option{
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.1s;
}
.moreInputs.show {
    height: auto;
    animation: expandMoreInputs 0.2s;
}
.secondRow label {
    width: 100%;
}
.secondRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    overflow: hidden;
    gap: 10px;
    box-sizing: border-box;    
}
.secondRow .rowSection label
.secondRow .rowSection input {
    width: 100%;
    min-width: 0 !important;
}
.secondRow .rowSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    min-width: 0 !important;
}

.showMoreButton {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.userSelectorButton {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 5px;
    color: var(--text-color);
}
.manageTagsButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: 1px solid var(--white-10);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    gap: 5px;
}

.deadline {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    align-items: center;
}
.deadline label {
    width: 100%;
    text-align: start;
}
.deadline fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 0;
}
.deadline input {
    width: 100%;
    height: 50px;
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    border-radius: 10px;
    transition: all 0.1s;
}