.newItem {
    padding: 10px;
    width: 100dvw;
    left: 0;
    background-color: var(--modal-bg);
    position: fixed;
    bottom: var(--navigation-height);
    display: flex;
    flex-direction: column;
    transform-origin: bottom;
    flex-shrink: 0;
    z-index: 10;
    border-top: 1px solid rgba(102, 102, 102, 0.5);
    transition: all 0.1s;
}
.expandButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expandButton svg {
    transform: rotateZ(-90deg);
    transition: all 0.1s;
    color: var(--text-color);
}
.iconButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconButton svg {
    height: 80%;
    width: 80%;
    color: var(--text-color);
}
.claimButtons {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
}
.claimButtons button {
    flex: 1;
    width: auto;
}
.basicInputs {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 20px;
    background-color: var(--input-bg);
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px;
}
.basicInputs input {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 10px;
    flex-shrink: 
    0;
}
.basicInputs .addButton {
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 10px;
    border: transparent;
}
.descriptionInput {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid transparent;
    padding-left: 10px;
}
.moreInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    height: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.moreInputs input{
    background-color: var(--input-bg);
    border: 1px solid var(--white-10);
    color: var(--text-color);
    padding-left: 10px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.1s;
}
.moreInputs.show {
    height: auto;
    animation: expandMoreInputs 0.2s;
}

.halfRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.showMoreButton {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.userSelectorButton {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 5px;
    color: var(--text-color);
}
.tagsContainer {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}
.tagsContainer p{
    padding: 5px 10px;
    background-color: var(--bg-primary);
    border-radius: 5px;
}
.tagIcon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border-radius: 5px;
}
.tagIcon svg {
    width: 20px;
    height: 20px;
    color: var(--text-on-accent)
}
.tagsContainer button {
    background-color: var(--bg-primary);
    border-radius: 5px;
    height: 30px;
    width: 30px;
}
.priority {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.priority select {
    margin-right: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    border: none;
}
.priority p {
    margin-right: auto;
}
.priorityButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.priority button {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-color);
    transition: all 0.1s;
}
.priority button.selectedPriority {
    background-color: var(--accent);
    transition: all 0.1s;
    color: var(--text-on-accent);
}
.tagInput {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
}
.tagInput input {
    height: 40px;
    padding-left: 10px;
    border: none;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tagInput button {
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tagInput button svg {
    height: 80%;
    width: 80%
}
.twoCols {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.twoCols button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--accent);
    background-color: transparent;
    color: var(--text-color);
}
.largeAddButton {
    height: 40px;
    width: 100%;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border:1px solid transparent;
}
.largeAddButton svg {
    height: 25px;
    width: 25px;
}
.deadline {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    gap: 10px;
}
.deadline input {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-left: 10px;
    color: black;
}