.groups {
    height: calc(100dvh - var(--bottom-offset));
    width: 100dvw;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 10px;
}
.groups .header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    padding-left: 10px;
    color: var(--text-color);
}
.header button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header button svg {
    width: 70%;
    height: 70%;
    color: var(--text-color);
}
.noGroupsText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}
.groupsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}



/* Group Item */

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--item-bg);
    border-radius: 5px;
    color: var(--text-color);
    padding: 0 10px;
    text-decoration: none;
}
.group h2 {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
}
.group .membersCount {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 5px;
    align-items: center;
}
.group .membersCount svg {
    height: 20px;
    width: 20px;
    color: var(--text-color);
}
.group .bottom {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}
.group .bottom .metaItem {
    padding: 5px 10px;
    background-color: var(--bg-primary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 0.7;
    font-size: 0.8rem;
}
.group .bottom .metaItem svg {
    height: 0.8rem;
}






