.groups {
    height: calc(100dvh - var(--bottom-offset));
    width: 100dvw;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 10px;
}
.header {
    height: var(--page-header-height);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.header button,
.header a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.header button svg,
.header a svg {
    width: 70%;
    height: 70%;
    color: var(--text-color);
}
.header button svg {
    width: 50%;
    height: 50%;
}
.noGroupsText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}
.groupsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.addButton {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(var(--navigation-height) + 20px);
    right: 10px;
}
.addButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-on-accent);
}

/* Group Item */

.group {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    background-color: #121212;
    border-radius: 10px;
    color: var(--text-color);
    padding: 15px;
    text-decoration: none;
    border: 1px solid #262626;
}
.group h3 {
    font-size: 1rem;
}
.groupIcon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.groupContent .metaItems {
    display: flex;
    align-items: center;
    gap: 10px;
}
.groupContent .metaItem {
    display: flex;
    align-items: center;
    gap: 5px;
}
.groupContent .metaItem p {
    font-size: 0.75rem;
}
.groupContent .metaItem b {
    font-size: 0.8rem;
}
