.groups {
    height: calc(100dvh - var(--bottom-offset));
    width: 100dvw;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 10px;
}
.header {
    height: var(--page-header-height);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.header button,
.header a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.header button svg,
.header a svg {
    width: 70%;
    height: 70%;
    color: var(--text-color);
}
.header button svg {
    width: 50%;
    height: 50%;
}
.noGroupsText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}
.groupsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.addButton {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(var(--navigation-height) + 20px);
    right: 10px;
}
.addButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-on-accent);
}

/* Group Item */

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--item-bg);
    border-radius: 5px;
    color: var(--text-color);
    padding: 0 10px;
    text-decoration: none;
}
.group h2 {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
}
.group .membersCount {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 5px;
    align-items: center;
}
.group .membersCount svg {
    height: 20px;
    width: 20px;
    color: var(--text-color);
}
.group .bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--white-10);
}
.group .bottom .metaItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 0.7;
    font-size: 0.8rem;
}
.group .bottom .metaItem svg {
    height: 0.8rem;
}






