.newGroup {
    width: calc(100vw - 20px);
    position: fixed;
    left: 10px;
    bottom: var(--bottom-offset);
    background-color: var(--item-bg);
    border-radius: 5px;
    color: var(--text-color);
    padding: 10px;
    animation: showModal 0.2s;
}
@keyframes showModal {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content .buttons {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.content .buttons button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
}
.content .buttons button:nth-child(1) {
    background-color: var(--bg-primary);
    color: var(--text-color);
}
.firstRow {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 10px;
}
.firstRow .iconButton {
    background-color: var(--bg-primary);
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid var(--white-10);
    color: var(--text-color);
}