.newGroup {
  width: calc(100vw - 20px);
  position: fixed;
  left: 10px;
  bottom: var(--bottom-offset);
  background-color: var(--modal-bg);
  border-radius: 15px;
  color: var(--text-color);
  padding: 15px;
  animation: showModal 0.2s;
  border: 1px solid var(--white-10);
}
@keyframes showModal {
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  color: var(--white-25);
}
.pin {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.pinText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pinText p:last-child{
  color: var(--white-25);
  font-size: 0.75rem;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset input {
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}
.threeCols fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
 fieldset .iconButton,
 fieldset .colorButton {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.colorButton .color {
  width: 100%;
  height: 100%;
}
.threeCols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.newGroup input {
  background-color: var(--input-bg);
  padding-left: 10px;
  height: 50px;
  border-radius: 10px;
  color: var(--text-color);
}
.bottomButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 50px;
}
.bottomButtons button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  background-color: var(--input-bg);
  color: var(--text-color);
}
.saveButton {
  color: var(--text-on-accent) !important;
  background-color: var(--accent) !important;
}