.groupNavigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
}
.groupNavigation a {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    color: var(--text-color);
    text-decoration: none;
    background-color: #161515;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.2);
}
.groupNavigation .navigationIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupNavigation a .buttonName {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.groupNavigation a p {
   color: rgba(255, 255, 255, 0.2);
}

.dueSoon {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.sectionTitle {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.2);
}
.dueItem {
    display: grid;
    grid-template-columns: 5px 1fr auto;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.2);
    padding: 10px;
    border-radius: 10px;
    background-color: #0f0e0e;
}
.dueItem .color{
    width: 100%;
    height: 80%;
    background-color: red;
    border-radius: 10px;
}
.dueItem .itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dueItem .due{
    color: red;
    font-weight: bold;
}
.noDueItems {
    width: 100%;
    text-align: center;
    height: 40px;
    color: var(--white-25);
}
