.groupDashboard {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.groupNavigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
}
.groupNavigation a {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    color: var(--text-color);
    text-decoration: none;
    background-color: #111111;
    border-radius: 10px;
    border: 1px solid var(--white-10);
}
.groupNavigation .navigationIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupNavigation a .buttonName {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.groupNavigation a p {
   color: rgba(255, 255, 255, 0.2);
}

.activity {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.sectionTitle {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.2);
}
.activityContainer {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.log {
    border-left: 1px solid var(--white-10);
    padding-left: 20px;
    margin-left: 10px;
    position: relative;
    display: flex;
    padding-bottom: 25px;
    color: var(--text-color);
    text-decoration: none;
}
.log .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.log .content b {
    color: var(--white-25);
}
.log .logCircle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid var(--white-50);
    position: absolute;
    left: -5px;
    top: 5px;
}