.viewList {
    width: 100%;
    height: 100%;
    max-height: calc(100dvh - var(--bottom-offset));
    display: grid;
    grid-template-rows: auto 50px 1fr;
    color: var(--text-color);
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.viewList .createdAt {
    opacity: 0.5;
}
.viewList .listButtons {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
}
.viewList .listButtons button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 0 10px;
    gap: 5px;
}
.listButtons button svg {
    height: 16px;
    width: 16px;
}
.listName {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
}
.listName button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid transparent;
}
.listName button svg {
    height: 70%;
    width: 70%;
    color: var(--text-color);
}
.listMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100px;
    max-height: 150px;
}
.listItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
}
.newItemButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: ShowNewItemButton 0.1s;
}
@keyframes ShowNewItemButton {
    from {
        opacity: 0;
        right: -120%;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}
.newItemButton svg {
    width: 80%;
    height: 80%;
}
.noItemsText {
    width: 100%;
    text-align: center;
    height: 50px;
    opacity: 0.5;
}

.categoryButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    overflow-x: auto;
}
.categoryButtons button {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--item-bg);
    background-color: transparent;
    color: var(--text-color);
}
.categoryButtons button.selectedCategory {
    border-color: var(--accent)
}
