.viewList {
    width: 100%;
    height: 100%;
    max-height: calc(100dvh - var(--navigation-height) - var(--page-header-height) - 10px);
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    color: var(--text-color);
    padding: 10px;
    padding-top: 0;
    position: relative;
    overflow: hidden;
}
.createdAt,
.updatedAt {
    color: var(--white-50);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.createdAt svg,
.updatedAt svg {
    height: 0.9rem;
}
.viewList .listButtons {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
}
.viewList .listButtons button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 0 10px;
    gap: 5px;
}
.listButtons button svg {
    height: 16px;
    width: 16px;
}
.listName {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
}
.listName button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid transparent;
}
.listName button svg {
    height: 70%;
    width: 70%;
    color: var(--text-color);
}
.listItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 70px;
    padding-right: 15px;
}
.listItemsContainer h3 {
    font-size: 1rem;
    color: var(--white-50);
}
.showMoreButton {
    color: var(--white-50);
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.newItemButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: ShowNewItemButton 0.1s;
}
@keyframes ShowNewItemButton {
    from {
        opacity: 0;
        right: -120%;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}
.newItemButton svg {
    width: 80%;
    height: 80%;
}
.listInfo {
    display: flex;
    flex-direction: column;
}
.listMeta {
    padding: 10px;
    background-color: var(--list-meta-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.listMeta .listTimestamps {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.listMeta .updatedAt {
    margin-left: auto;
}
.listMeta .description {
    color: var(--white-50);
    width: 100%;
}