.viewList {
    width: 100%;
    height: 100%;
    max-height: calc(100dvh - var(--navigation-height) - var(--page-header-height));
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    color: var(--text-color);
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.viewList .createdAt {
    opacity: 0.5;
}
.viewList .listButtons {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
}
.viewList .listButtons button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 0 10px;
    gap: 5px;
}
.listButtons button svg {
    height: 16px;
    width: 16px;
}
.listName {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
}
.listName button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid transparent;
}
.listName button svg {
    height: 70%;
    width: 70%;
    color: var(--text-color);
}
.listMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 70px;
}
.showMoreButton {
    height: 30px;
    text-align: start;
    color: var(--accent);
    background-color: transparent;
    border: none;
}
.newItemButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: ShowNewItemButton 0.1s;
}
@keyframes ShowNewItemButton {
    from {
        opacity: 0;
        right: -120%;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}
.newItemButton svg {
    width: 80%;
    height: 80%;
}



.summaries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    padding: 0 10px;
}
.summaries .collumns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.summaries .collumn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}
.summaries .collumn:nth-child(2) {
    border-left: 1px solid var(--white-10);
    border-right: 1px solid var(--white-10);
}
.summaries .collumn b {
    font-size: 1rem;
}
.summaries .collumn p {
    font-size: 0.7rem;
}
.summaries .progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.summaries .progressText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--white-50);
    font-size: 0.8rem;
}
.summaries .progressBar {
    width: 100%;
    height: 8px;
    background-color: var(--item-bg);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.progressBar .progressLine {
    height: 8px;
    background-color: white;
}