.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(211, 211, 211, 0.3);
    background-color: var(--bg-primary);
    padding-bottom: env(safe-area-inset-bottom);
    height: var(--navigation-height);
}
.navigation a svg,
.navigation button svg {
    width: 20px;
    height: 20px;
}
.navigation a,
.navigation button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    text-decoration: none;
    background-color: transparent;
    border: none;
}