.manage {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
    height: calc(100dvh - var(--navigation-height) - var(--page-header-height));
}
.membersHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
}
.membersHeader button {
    background-color: transparent;
    border: none;
    color: var(--accent);
}
.membersContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--item-bg);
    border-radius: 10px;
    padding: 10px 0;
    overflow-y: auto;
    flex-grow: 1;
}

.member button {
    width: 20px;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.dangerZone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dangerZone button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.inviteButton {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.member {
    display: grid;
    grid-template-columns: 50px 1fr 30px;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}
.memberPicture{
    width: 40px;
    height: 40px;
    background-color: var(--modal-bg);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userText{
    display: flex;
    flex-direction: column;
}
.userText h2{
    font-size: 1rem;
}
.userText b{
    font-size: 0.75rem;
    color: var(--white-50);
}


/* Invite Modal */

.inviteModal {
    position: fixed;
    bottom: var(--bottom-offset);
    width: calc(100dvw - 20px);
    left: 10px;
    border-radius: 10px;
    background-color: var(--item-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--white-10);
    animation: popModal 0.1s;
}
.groupInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.groupInfo .groupName {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 10px;
    align-items: center;
}
.groupName h1 {
    font-size: 1.1rem;
}
.groupName button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.groupDescription {
    font-size: 0.8rem;
    color: var(--white-50);
}
.groupInfo .timestamps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--white-50);
    font-size: 0.8rem;
}
.groupInfo .timestamp {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-self: center;
}
.groupInfo .timestamp svg {
    height: 0.8rem;
}
.groupSummaries {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.groupSummaries .column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--white-50);
}
@keyframes popModal {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.linkContainer {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-primary);
    border-radius: 5px;
    padding: 0 10px;
}
.inviteModal .error{
    color: red;
}
.inviteModal button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: var(--text-on-accent);
    background-color: var(--accent);
}



/* Manage User */

.manageUserBg {
    width: 100dvw;
    height: calc(100dvh - var(--navigation-height));
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
    padding: 10px;
}
.manageUser {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--white-10);
    display: flex;
    flex-direction: column;
    background-color: var(--item-bg);
    gap: 10px;
}
.memberDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--modal-bg);
    border-radius: 15px;
    width: 100%;
}
.memberDetails .userText{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.memberDetails h2{
    font-size: 1rem;
}
.memberDetails b{
    font-size: 0.8rem;
}
.memberDetails .memberPicture{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--item-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.manageButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manageButtons button,
.closeButton {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--white-10);
    background-color: transparent;
    color: var(--text-color);
    font-size: 0.9rem;

}
.roleButton {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 10px;
    align-items: center;
    text-align: start;
    padding: 0 10px;
}
.manageUser h3 {
    font-size: 1rem;
    color: var(--white-50);
    height: 40px;
    display: flex;
    align-items: center;
}
.roleButton.selectedRole {
    background-color: var(--modal-bg);
    border: 1px solid var(--accent);
}
.closeButton {
    background-color: var(--modal-bg);
}
.kickButton {
    background-color: red;
    color: white;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
}