.manage {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
}
.membersContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--item-bg);
    border-radius: 10px;
}
.member {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
    padding: 0 10px;
}
.member:last-child {
    border-bottom: none;
}
.manage button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}


/* Invite Modal */

.inviteModal {
    position: fixed;
    bottom: var(--bottom-offset);
    width: calc(100dvw - 20px);
    left: 10px;
    border-radius: 10px;
    background-color: var(--item-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--white-10);
    animation: popModal 0.1s;
}
@keyframes popModal {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.linkContainer {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-primary);
    border-radius: 5px;
    padding: 0 10px;
}
.inviteModal .error{
    color: red;
}
.inviteModal button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: var(--text-on-accent);
    background-color: var(--accent);
}