.notificationContainer {
  width: 100%;
  max-height: 30dvh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.notification {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  font-weight: 500;
}

.notification.success {
  background-color: #36a048;
  color: black;
}
.notification.error {
  background-color: #FF3B30;
  color: black;
}
.notification.info {
  background-color: var(--item-bg);
}