
.summaries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    padding: 0 10px;
}
.summaries .collumns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.summaries .collumn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}
.summaries .collumn:nth-child(2) {
    border-left: 1px solid var(--white-10);
    border-right: 1px solid var(--white-10);
}
.summaries .collumn b {
    font-size: 0.8rem;
}
.summaries .collumn p {
    font-size: 0.7rem;
}
.summaries .progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.summaries .progressText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--white-50);
    font-size: 0.7rem;
}
.summaries .progressBar {
    width: 100%;
    height: 8px;
    background-color: var(--item-bg);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.progressBar .progressLine {
    height: 8px;
    background-color: white;
}