.poll {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--item-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white-10);
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header .pollAuthor {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .userPfp {
    height: 30px;
    width: 30px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.headerButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}
.header button {
    background-color: transparent;
    border: none;
    color: var(--white-25);
}
.poll h1 {
    font-size: 1rem;
    margin: 10px 0;
}
.poll .description {
    color: var(--white-50);
}
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.option {
    width: 100%;
    padding: 15px 10px;
    background-color: var(--modal-bg);
    border: 1px solid var(--white-10);
    display: grid;
    grid-template-columns: 20px 1fr auto;
    gap: 10px;
    color: var(--white-50);
    text-align: start;
    align-items: center;
    border-radius: 5px;
}
.optionCircle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid white;
}
.option.selectedOption{
    background-color: var(--white-10);
}
.option.selectedOption .optionCircle{
    border-width: 5px;
}


.managePoll {
    width: 100%;
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--white-10);
    margin-top: 15px;
}
.managePoll button {
    padding: 5px 10px 0 10px;
    border: none;
    background-color: transparent;
    color: var(--white-50);
}
.managePoll button:first-child{
    margin-left: auto;
}

.newOption {
    display: grid;
    grid-template-columns: 1fr 25px;
    gap: 10px;
    align-items: center;
    height: 40px;
}
.newOption input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding-left: 10px;
    background-color: transparent !important;
    color: white;
}
.newOption button {
    background-color: transparent;
    border: none;
    color: white;
}