.polls {
    height: calc(100dvh - var(--navigation-height) - var(--page-header-height));
    width: 100%;
    display: grid;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
    gap: 10px;
}
.filters {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.filters button {
    height: 100%;
    padding: 0 10px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
}
.filters button.selectedFilter {
    background-color: var(--accent);
    color: var(--text-on-accent);
}
.polls .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
}
.newPollButton {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
}
.newPollButton svg {
    height: 25px;
    width: 25px;
}
.pageMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
