.storeSelector {
    width: calc(100vw - 20px);
    height: calc(100vh - var(--bottom-offset) - 10px);
    max-height: calc(100vh - 85px);
    position: fixed;
    bottom: var(--bottom-offset);
    left: 10px;
    background-color: var(--item-bg);
    border-radius: 10px;
    box-sizing: 1px 1px 1px 1px white;
    display: grid;
    grid-template-rows: 30px 40px 40px 1fr 40px;
    gap: 10px;
    padding: 10px;
    animation: showStoreSelector 0.2s;
}
@keyframes showStoreSelector {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.storeSelector .options {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options fieldset {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.options fieldset input {
    height: 20px;
    width: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.options button {
    height: 40px;
    width: auto;
    padding: 0 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid transparent;
    color: var(--text-color);
    font-size: 1rem;
}
.options button svg {
    height: 20px;
    width: 20px;
}
.storesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.storesContainer p {
    width: 100%;
    opacity: 0.5;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton {
    width: 100%;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 5px;
    border: none;
}


/* New Store */

.newStore {
    display: grid;
    grid-template-columns: 1fr auto 40px;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
}
.newStore input {
    height: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid transparent;
    padding-left: 10px;
}
.newStore input[type='color'] {
    padding-left: 0;
}
.newStore button {
    background-color: var(--accent);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: none;
}
.newStore button svg {
    height: 70%;
    width: 70%;
    color: var(--text-color);
}


/* Store Item */

.store {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 20px 1fr 40px;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
}
.store .storeColor {
    width: 15px;
    height: 15px;
    border-radius: 5px;
}
.store button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.store button svg {
    height: 70%;
    width: 70%;
    color: var(--text-color);
}