.modalBg {
    height: 100dvh;
    width: 100dvw;
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
}
.confirmationModal {
    width: calc(100% - 20px);
    position: relative;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: var(--modal-bg);
    border-radius: 10px;
    border: 1px solid var(--white-10);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: var(--text-color);
}
.buttons {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.buttons button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--item-bg);
    color: var(--text-color);
    border: 1px solid var(--white-10);
    font-weight: bold;
    font-size: 1.2rem;
}
.buttons button:last-child{
    background-color: red;
    color: var(--text-on-accent);
}