.invite {
    width: 100%;
    padding: 10px;
    background-color: var(--item-bg);
    border-radius: 10px;
    border: 1px solid var(--white-10);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.invite .meta {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.invite .statusText {
    color: var(--white-25);
    font-size: 0.8rem;
    padding-right: 10px;
}
.invite .meta .iconContainer {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invite .meta .metaText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.invite .meta .metaText h2 {
    font-size: 1rem;
}
.invite .metaText p {
    font-size: 0.8rem;
    color: var(--white-25);
}
.invite .buttons {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.invite .buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
}