.notifications {
    width: 100dvw;
    height: calc(100dvh - var(--bottom-offset) + 10px);
    display: grid;
    grid-template-rows: 50px 50px auto 1fr;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
    color: var(--text-color);
}
.invitesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}
.notifications .filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.notifications .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    overflow-x: auto;
}
.notifications .buttons button {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--item-bg);
    background-color: transparent;
    color: var(--text-color);
}
.notifications .buttons button.selectedCategory {
    border-color: var(--accent)
}
.notifications .filters fieldset {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}
.notifications .filters fieldset select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--item-bg);
    background-color: transparent;
    color: var(--text-color);
    padding: 0 15px;
}
.notifications .filters fieldset option {
    color: var(--text-on-accent);
}
.notificationsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    flex-grow: 1;
}
.notification {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 5px 1fr auto;
    gap: 10px;
    align-items: center;
    background-color: var(--item-bg);
    border-radius: 10px;
    border: 1px solid var(--white-10)
}
.notification .timestamp {
    color: var(--white-25);
    font-size: 0.7rem;
}
.notification .color {
    background-color: var(--accent);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.notification .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.notification b {
    font-size: 0.85rem;
}
.notification .message {
    font-size: 0.75rem;
    color: var(--white-50);
}