.item {
    width: 100%;
    height: auto;
    background-color: var(--item-bg);
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 0;
    transition: all 0.1s;
}
.item.expandedItem {
    grid-template-rows: 40px auto;
    transition: all 0.1s;
}
.item .mainSection {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr auto;
    align-items: center;
    gap: 10px;
}
.item .checkbox {
    height: 25px;
    width: 25px;
    border: 2px solid rgb(165, 165, 165);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
    padding-bottom: 10%;
}
.item .checkbox svg {
    height: 200%;
    width: 200%;
    animation: popCheckmark 0.2s;
}
@keyframes popCheckmark {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    70%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.itemMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.1s;
}
.itemMeta svg {
    height: 20px;
    width: 20px;
}
.itemMeta .twoCols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.itemMeta .threeCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.itemMeta .col {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 5px;
    align-items: center;
}
.itemMeta .threeCol .col {
    display: flex;
    align-items: center;
    justify-content: center;
}
.assignedUser {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    color: var(--text-color);
    gap: 5px;
}
.assignedUser svg {
    color: var(--text-color);
}
.deadline {
    width: 100%;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 5px;
    align-items: center;
}
.tags {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}