.iconSelector {
    width: calc(100dvw - 20px);
    height: calc(100dvh - var(--navigation-height) - 20px);
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    z-index: 200;
    top: 10px;
    left: 10px;
    background-color: var(--item-bg);
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 10px;
    color: var(--text-color);
}
.iconsContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
}
.iconSelector .icon {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.iconsContainer .icon.selectedIcon {
    color: var(--accent);
}
.iconSelector .icon svg {
    width: 60%;
    height: 60%;
    color: var(--text-color);
}
.iconSelector .header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconSelector .header button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
