.newList {
    position: fixed;
    bottom: var(--bottom-offset);
    width: calc(100vw - 20px);
    left: 10px;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--item-bg);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    animation: slideFromBottom 0.5s;
    z-index: 200;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    bottom: -120%;
  }
  70% {
    opacity: 1;
    bottom: calc(var(--bottom-offset) + 20px);
  }
  100% {
    opacity: 1;
    bottom: var(--bottom-offset);
  }
}
fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
fieldset input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}
.twoCols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.twoCols button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
