.List {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - var(--navigation-height));
    display: grid;
    grid-template-rows: var(--page-header-height) auto auto 1fr auto;
    color: var(--text-color);
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.listMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
}
.listItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-bottom: 70px;
    padding-top: 15px;
}
.showMoreButton {
    text-align: start;
    color: var(--accent);
    background-color: transparent;
    border: none;
    padding: 10px 0;
}
.newItemButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: ShowNewItemButton 0.1s;
}
@keyframes ShowNewItemButton {
    from {
        opacity: 0;
        right: -120%;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}
.newItemButton svg {
    width: 80%;
    height: 80%;
}
.createdAt,
.updatedAt {
    color: var(--white-50);
    font-size: 0.9rem;
}
.pageMenu {
    height: auto;
    position: fixed;
    top: var(--page-header-height);
    right: 20px;
    border-radius: 10px;
    background-color: var(--item-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    z-index: 100;
    animation: showPageMenu 0.3s;
    padding: 0 10px;
    border: 1px solid var(--white-10);
    transform-origin: top;
}
@keyframes showPageMenu {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
.pageMenu button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 0 20px 0 10px;
}
.pageMenu button:nth-child(2) {
    color: red;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.noItemsText {
    width: 100%;
    text-align: center;
    height: 50px;
    opacity: 0.5;
}
.sectionTitle{
    font-size: 0.9rem;
    color: var(--white-50);
}
.categoryButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    overflow-x: auto;
}
.categoryButtons button {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid var(--item-bg);
    background-color: transparent;
    color: var(--text-color);
}
.categoryButtons button.selectedCategory {
    border-color: var(--accent)
}


.summaries {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    padding: 0 10px;
}
.summaries .collumns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.summaries .collumn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}
.summaries .collumn:nth-child(2) {
    border-left: 1px solid var(--white-10);
    border-right: 1px solid var(--white-10);
}
.summaries .collumn b {
    font-size: 1rem;
}
.summaries .collumn p {
    font-size: 0.7rem;
}
.summaries .progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.summaries .progressText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--white-50);
    font-size: 0.8rem;
}
.summaries .progressBar {
    width: 100%;
    height: 8px;
    background-color: var(--item-bg);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.progressBar .progressLine {
    height: 8px;
    background-color: white;
}