.List {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - var(--navigation-height));
    display: grid;
    grid-template-rows: var(--page-header-height) auto auto 1fr auto;
    color: var(--text-color);
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.listInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listMeta {
    padding: 10px;
    background-color: var(--item-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.listMeta .listTimestamps {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.listMeta .updatedAt {
    margin-left: auto;
}
.listMeta .description {
    color: var(--white-50);
    width: 100%;
}
.listItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-bottom: 70px;
    padding-top: 15px;
    padding-right: 15px;
}
.showMoreButton {
    color: var(--white-50);
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.List .listButtons {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.List .listButtons button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 0 5px;
    gap: 5px;
}
.listButtons button svg {
    height: 16px;
    width: 16px;
}
.newItemButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 20px;
    animation: ShowNewItemButton 0.1s;
}
@keyframes ShowNewItemButton {
    from {
        opacity: 0;
        right: -120%;
    }
    to {
        opacity: 1;
        right: 20px;
    }
}
.newItemButton svg {
    width: 80%;
    height: 80%;
}
.createdAt,
.updatedAt {
    color: var(--white-50);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.createdAt svg,
.updatedAt svg {
    height: 0.9rem;
}
.pageMenu {
    height: auto;
    position: fixed;
    top: var(--page-header-height);
    right: 20px;
    border-radius: 10px;
    background-color: var(--item-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    z-index: 100;
    animation: showPageMenu 0.3s;
    padding: 0 10px;
    border: 1px solid var(--white-10);
    transform-origin: top;
}
@keyframes showPageMenu {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
.pageMenu button {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 0 20px 0 10px;
}
.pageMenu button:nth-child(2) {
    color: red;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.noItemsText {
    width: 100%;
    text-align: center;
    height: 50px;
    opacity: 0.5;
}
.sectionTitle{
    font-size: 0.9rem;
    color: var(--white-50);
}

.listFilters {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.listFilters .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-50);
}
