.newUserFlow {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--bg-primary);
    color: var(--text-color);
    padding: 10px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    gap: 10px;
}
.newUserFlow .header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 10px;
    align-items: center;
}
.newUserFlow .header button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.newUserFlow .header h1 {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}


.stepNavigator {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 10px;
}
.stepNavigator button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    background-color: transparent;
}
.stepNavigator .stepsCircles {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.stepNavigator .stepsCircles .circle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.stepNavigator .stepsCircles .circle.currentStep {
    background-color: var(--accent);
    color: var(--text-on-accent);
}