
.notes {
    height: calc(100dvh - var(--navigation-height) - var(--page-header-height));
    width: 100%;
    display: grid;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
    gap: 10px;
}
.filters {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.filters button {
    height: 100%;
    padding: 0 10px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
}
.filters button.selectedFilter {
    background-color: var(--accent);
    color: var(--text-on-accent);
}
.notesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
}
.newNoteButton {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(var(--navigation-height) + 20px);
    right: 10px;
    z-index: 10;
}
.newNoteButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-on-accent);
}

/* New Note */

.newNote {
    background-color: var(--modal-bg);
    color: var(--text-color);
    border: 1px solid var(--white-10);
    padding: 20px;
    border-radius: 15px;
    position: fixed;
    bottom: calc(var(--navigation-height) + 10px);
    width: calc(100dvw - 20px);
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: popUp 0.1s;
    z-index: 10;
}
@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.newNote input {
    background-color: var(--input-bg);
    color: var(--text-color);
    padding-left: 10px;
    height: 50px;
}

.newNote .pin {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}
.newNote .buttons {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.newNote .buttons button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 1px solid var(--white-10);
    background-color: transparent;
}
.newNote .buttons button:nth-child(2){
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: none;
}