
.notes {
    height: calc(100dvh - var(--navigation-height) - var(--page-header-height));
    width: 100%;
    display: grid;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
    gap: 10px;
}
.filters {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.filters button {
    height: 100%;
    padding: 0 10px;
    border: 1px solid rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
}
.filters button.selectedFilter {
    background-color: var(--accent);
    color: var(--text-on-accent);
}
.notesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
}
.newNoteButton {
    width: 50px;
    border-radius: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(var(--navigation-height) + 20px);
    right: 10px;
    z-index: 10;
}
.newNoteButton svg {
    height: 30px;
    width: 30px;
    color: var(--text-on-accent);
}



/* New Note */

.newNote {
    background-color: var(--modal-bg);
    color: var(--text-color);
    border: 1px solid var(--white-10);
    padding: 20px;
    border-radius: 15px;
    position: fixed;
    bottom: calc(var(--navigation-height) + 10px);
    width: calc(100dvw - 20px);
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: popUp 0.1s;
    z-index: 10;
}
@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.newNote input {
    background-color: var(--input-bg);
    color: var(--text-color);
    padding-left: 10px;
    height: 50px;
}

.newNote .pin {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}
.newNote .buttons {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.newNote .buttons button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 1px solid var(--white-10);
    background-color: transparent;
}
.newNote .buttons button:nth-child(2){
    background-color: var(--accent);
    color: var(--text-on-accent);
    border: none;
}













/* Note */

.note {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--item-bg);
    border-radius: 15px;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
}
.note .noteHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}
.note .noteHeader .userPfp {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.note .noteHeader button {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.note .noteHeader .author {
    font-size: 0.9rem;
    font-weight: bold;
}
.note .noteHeader .createdAt {
    color: var(--white-25);
}
.note h1 {
    font-size: 1.1rem;
    color: var(--white-50);
}
.note .content {
    width: 100%;
    color: white;
    font-size: 0.9rem;
}
.meta {
    width: 100%;
    border-top: 1px solid var(--white-10);
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 10px;
    padding: 10px 10px 0 10px;
}

.commentsCount {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.75rem;
}
.note .noteHeader p {
    font-size: 0.75rem;
}
.comments {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--modal-bg);
    border-radius: 10px;
    padding: 10px;
}
.newComment {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
    align-items: center;
}
.newComment input {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    color: var(--text-color);
}
.newComment button {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}




/* Note Menu */

.postMenu {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--modal-bg);
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 1px solid var(--white-10);
    border-radius: 10px;
    overflow: hidden;
}
.postMenu button {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.postMenu button svg {
    height: 1rem;
}


/* Comment */

.comment {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    border-bottom: 1px solid var(--white-10);
    padding-right: 0;
}
.comment:last-child {
    border-bottom: none;
}

.comment .topRow {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    width: 100%;
}
.comment button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    width: 40px;
    height: 100%;
}
.commentContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.commentContent b {
    font-size: 0.75rem;
}
.commentContent p {
    font-size: 0.85rem;
    color: var(--white-50);
}
.comment .timestamp {
    font-size: 0.75rem;
    color: var(--white-25);
}
