.viewGroup {
    width: 100vw;
    height: calc(100dvh - var(--bottom-offset) + 10px);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 10px;
    overflow: hidden;
}
.header {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.header button,
.header a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.header button svg,
.header a svg {
    width: 70%;
    height: 70%;
    color: var(--text-color);
}
.header button svg {
    width: 50%;
    height: 50%;
}
.screenSwitcher {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--item-bg);
}
.screenSwitcher button,
.screenSwitcher a {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.1s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screenSwitcher button.selected,
.screenSwitcher a.selected {
    border-top-color: var(--accent);
    color: var(--accent);
    transition: all 0.1s;
}



.viewGroup .menu {
    width: 100dvw;
    height: calc(100dvh - var(--bottom-offset));
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
}
@keyframes showMenu {
    from {
        transform: translateY(120%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
.viewGroup .menu .menuContent,
.viewGroup .menu .deleteConfirmation {
    background-color: var(--item-bg);
    border: 1px solid var(--item-border);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    margin-top: auto;   
    color: var(--text-color);
    align-items: center;
    animation: showMenu 0.2s;
}
.viewGroup .menu .menuContent h3 {
    padding: 10px;
    width: 100%;
}
.menuContent button,
.menuContent a {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    border-bottom: 1px solid rgba(211, 211, 211, 0.1);
    flex-shrink: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuContent button:last-child {
    border-bottom: none;
}
.menuContent .buttons {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    width: calc(100% - 20px);
    border-radius: 10px;
}

.deleteConfirmation {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deleteConfirmation .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 40px;
}
.deleteConfirmation .buttons button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.3);
    background-color: transparent;
    color: var(--text-color);
}
.deleteConfirmation .buttons button:last-child {
    background-color: var(--accent);
    color: var(--text-on-accent);
}