.viewGroup {
    width: 100vw;
    height: var(--page-height);
    display: grid;
    grid-template-rows: var(--page-header-height) 1fr;
    gap: 10px;
    overflow: hidden;
}
.header {
    height: var(--page-header-height);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.header button,
.header a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.header button svg,
.header a svg {
    width: 70%;
    height: 70%;
    color: var(--text-color);
}
.header button svg {
    width: 50%;
    height: 50%;
}

.viewGroup .deleteMenu {
    width: 100dvw;
    height: calc(100dvh - var(--bottom-offset));
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
}
.viewGroup .menu {
    position: fixed;
    top: var(--page-header-height);
    right: 10px;
    background-color: var(--item-bg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    animation: showMenu 0.2s;
    z-index: 100;
}
.viewGroup .menu button,
.viewGroup .menu a {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
    height: 40px;
    background-color: transparent;
    text-align: start;
    border: none;
    color: var(--text-color);
    z-index: 100;
    text-decoration: none;
    font-size: 0.8rem;
    width: 100%;
}
@keyframes showMenu {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.viewGroup .menu .deleteConfirmation {
    background-color: var(--item-bg);
    border: 1px solid var(--item-border);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    margin-top: auto;   
    color: var(--text-color);
    align-items: center;
    animation: showMenu 0.2s;
}


.deleteConfirmation {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deleteConfirmation .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 40px;
}
.deleteConfirmation .buttons button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.3);
    background-color: transparent;
    color: var(--text-color);
}
.deleteConfirmation .buttons button:last-child {
    background-color: var(--accent);
    color: var(--text-on-accent);
}
