:root {
  --bottom-offset: 85px;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;  
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  box-sizing: border-box;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    bottom: 120%;
  }
  70% {
    opacity: 1;
    bottom: 100px;
  }
  100% {
    opacity: 1;
    bottom: var(--bottom-offset);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  flex-shrink: 0;
}
.app-container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr var(--navigation-height);
  overflow: hidden;
  background-color: var(--bg-primary);
}




/* Global Classes */



.error-message {
  color: red;
  animation: showError 0.1s;
  font-size: 0.8rem;
}
@keyframes showError {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}