:root {
    --bg-primary: #09090B;
    --item-bg: #111111;
    --accent: #ffd900;
    --text-color: white;
    --text-on-accent: #000000;
    --text-muted: rgba(255, 255, 255, 0.5);
    --border: rgba(211, 211, 211, 0.3);
    --page-header-height: 50px;
    --navigation-height: 60px;
    --page-height: calc(100dvh - var(--navigation-height));
    --white-50: rgba(255, 255, 255, 0.5);
    --white-25: rgba(255, 255, 255, 0.25);
    --white-10: rgba(255, 255, 255, 0.1);
    --input-bg: #111111;
    --modal-bg: #0a0a0a;

    /* New variables */

    --new-item-bg: #0a0a0a;
    --list-meta-bg:rgb(17, 17, 17)1;
}
.no-items-text {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: var(--text-muted);
    font-size: 1rem;
}

html, body {
    overscroll-behavior-y: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
