.userSelector {
    width: calc(100vw - 20px);
    height: calc(100vh - var(--bottom-offset) - 10px);
    max-height: calc(100vh - 85px);
    position: fixed;
    bottom: var(--bottom-offset);
    left: 10px;
    background-color: var(--item-bg);
    border-radius: 10px;
    box-sizing: 1px 1px 1px 1px white;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    gap: 10px;
    padding: 10px;
    animation: showuserSelector 0.2s;
}
@keyframes showuserSelector {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;;
    align-items: center;
}

.closeButton {
    width: 100%;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 5px;
    border: none;
}
.user {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid transparent;
}
.user.selectedUser {
    border-color: var(--accent);
}
.searchBox {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
}