.userSelector {
    width: calc(100dvw - 20px);
    height: calc(100dvh - var(--navigation-height) - 20px);
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: var(--item-bg);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 40px 40px 1fr 40px;
    gap: 10px;
    padding: 10px;
    animation: showuserSelector 0.2s;
}
@keyframes showuserSelector {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.userSelector .header h1 {
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;;
    align-items: center;
}

.closeButton {
    width: 100%;
    height: 40px;
    background-color: var(--accent);
    color: var(--text-on-accent);
    border-radius: 5px;
    border: none;
}
.user {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid var(--white-10);
}
.user.selectedUser {
    border-color: var(--accent);
}
.user b {
    font-size: 0.75rem;
    color: var(--white-50);
}
.searchBox {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
}